.keypad {
    width: 300px; 
    height: 350px;
    border: 3px solid black;
    border-radius: 8px;
  }
  
  .keyCodeContainer {
    background-color: darkslategrey;
    margin-top: 10px;
    height: 50px;
    width: 250px;
    text-align: center;
    margin-left:22px;
  }
  
  .keyCode {
    color: orangered;
    position: relative;
    padding-top: 5px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    letter-spacing: 6px;
    vertical-align: text-bottom;
  }

  #keyCode2 {
    width: 60px;
  }

  .keyCode input {
    background: transparent;
    border: 0;
    border-bottom:1px solid #555;
    border-radius: 2px;
    padding: 8px 0 5px 0;
    /* color:#fff; */
    color: rgb(255, 69, 0);
    /*width:100%;*/
    width:80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    text-align: center;
  }
  .keyCode input:focus{ 
    border:none;	
    outline:none;
    border-bottom:1px solid #e74c3c;	
   }
   
   .keyCode input:focus ~ label,
   .keyCode input:valid ~ label{
     top:-12px;
     font-size:12px; 
   }
  
  .keyboard{
    padding-left:15px;
    /*padding-right:15px;*/
  }
  
  .key {
    background-image: -webkit-gradient(linear,left top,left bottom,from(), to(rgb(255, 69, 0)));
    background-image: -webkit-linear-gradient(top,#FDA352,rgb(255, 69, 0));
    background-image: -moz-linear-gradient(top,#FDA352,rgb(255, 69, 0));
    background-image: -ms-linear-gradient(top,#FDA352,rgb(255, 69, 0));
    background-image: -o-linear-gradient(top,#FDA352,rgb(255, 69, 0));
    background-image: linear-gradient(top,#FDA352,rgb(255, 69, 0));

    border: 1px solid #FB8F3D;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    width: 50px;
  }
  
  .key:hover {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#FD934D),to(#F9760B));
    background-image: -webkit-linear-gradient(top,#FD934D,#F9760B);
    background-image: -moz-linear-gradient(top,#FD934D,#F9760B);
    background-image: -ms-linear-gradient(top,#FD934D,#F9760B);
    background-image: -o-linear-gradient(top,#FD934D,#F9760B);
    background-image: linear-gradient(top,#FD934D,#F9760B);
    border: 1px solid #EB5200;
  }
  
  .key:active {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ff6905),to(#f06e04));
    background-image: -webkit-linear-gradient(top,#ff6905,#f06e04);
    background-image: -moz-linear-gradient(top,#ff6905,#f06e04);
    background-image: -ms-linear-gradient(top,#ff6905,#f06e04);
    background-image: -o-linear-gradient(top,#ff6905,#f06e04);
    background-image: linear-gradient(top,#ff6905,#f06e04);
    border: 1px solid #EB5200;
  }
  
  .key:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    border-color: transparent;
    box-shadow: none;
  }
  
  .numberKey { 
    width: 50px;
    height: 50px;
    font-size: 20pt;
    font-weight: 600;
  }
  
  .submitKey {
    /*text-orientation: sideways;*/
    height: 175px;
  }

  .back-key {
    font-size: 10pt;
    height: 50px;
  }
  
  .resetKey {
    width: 50px;
    height: 100px;
  }