.rebirthLuggageImages {
    background-color: black;
}

.keyCodeInput {
    font-family: "ModernWarfare", Arial, Helvetica, sans-serif;
    font-size: 60px;
}

.keyCodeInput input {
    width:120px;
    font-family: "ModernWarfare", Arial, Helvetica, sans-serif;
    color: rgb(255, 69, 0);
    border-radius: 2px;
    font-size: 45px;
    text-align: center;
}

.keyCodeInput button {
    font-family: "ModernWarfare", Arial, Helvetica, sans-serif;

    margin-left:50px;
    font-size: 45px;
    border: 3px solid rgb(255, 69, 0);
    border-radius: 8px;
    color: rgb(255, 69, 0);
    cursor: pointer;
  
    background-image: -webkit-gradient(linear,left top,left bottom,from(), to(rgb(255, 69, 0)));
    background-image: -webkit-linear-gradient(top,#FDA352,rgb(255, 69, 0));
    background-image: -moz-linear-gradient(top,#FDA352,rgb(255, 69, 0));
    background-image: -ms-linear-gradient(top,#FDA352,rgb(255, 69, 0));
    background-image: -o-linear-gradient(top,#FDA352,rgb(255, 69, 0));
    background-image: linear-gradient(top,#FDA352,rgb(255, 69, 0));
    color:white;
    border: 1px solid #FB8F3D;
  }
  
  .keyCodeInput button:hover {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#FD934D),to(#F9760B));
    background-image: -webkit-linear-gradient(top,#FD934D,#F9760B);
    background-image: -moz-linear-gradient(top,#FD934D,#F9760B);
    background-image: -ms-linear-gradient(top,#FD934D,#F9760B);
    background-image: -o-linear-gradient(top,#FD934D,#F9760B);
    background-image: linear-gradient(top,#FD934D,#F9760B);
    border: 1px solid #EB5200;
  }
  
  .keyCodeInput button:active {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#ff6905),to(#f06e04));
    background-image: -webkit-linear-gradient(top,#ff6905,#f06e04);
    background-image: -moz-linear-gradient(top,#ff6905,#f06e04);
    background-image: -ms-linear-gradient(top,#ff6905,#f06e04);
    background-image: -o-linear-gradient(top,#ff6905,#f06e04);
    background-image: linear-gradient(top,#ff6905,#f06e04);
    border: 1px solid #EB5200;
  }
  
  .keyCodeInput button:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    border-color: transparent;
    box-shadow: none;
  }

.imagesTable {
    width:50%;
}

.rebirthImages {
    width:min-content;
}

.selected {
    border: thick solid white;
}

.locationImages {
    width: min-content;
    position: relative;
    float: right;
}

.locationImages > div {
    width: min-content;
}

.locationImages h3 {
    margin-top:0px;
    font-family: Arial;
}

.locationImage {
    width: 380px;
}

.input-container{
	position:relative;
	margin-bottom:25px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	/*color:#fff;	*/
    /*pointer-event:none;*/
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  /*width:100%;*/
  padding:8px 0 5px 0;
  font-size:60px;
  color:#fff;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}

.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
	
}